@charset "UTF-8";

/**
 * 새소식/뉴스레터 사이트 리셋 CSS (Only PC)
 * @author yoonseo.Lee (2019.10.02)
 */

*,body,html {padding:0;margin:0;}
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,body {color:#333;font-size:100%;}
html,body,div,p,iframe,frameset,h1,h2,h3,h4,h5,h6,strong,span,b,em,var,label,legend,ul,ol,li,dl,dt,dd,
table,thead,tbody,tfoot,tr,th,td,caption,form,fieldset,input,textarea,sub,sup,img,a,del,button,small,menu,
header,footer,address,section,article,nav,hgroup,aside,details {padding:0;margin:0;font-family:Arial,'Malgun Gothic','맑은 고딕', Dotum,'돋움',sans-serif;}
ol,ul,li {list-style:none;list-style-type:none;}
table {border-collapse:collapse;border-spacing:0;}
button,a,img {border:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
a,a:link,a:focus,a:hover,a:active,a:visited {display:inline-block;color:#333;text-decoration:none;}
button,input,select,textarea {font:inherit;margin:0;}